html {
    scroll-behavior: smooth;
}

#si {
    box-sizing: border-box;
    left: 10px;
}

#overlay {
    top: 0;
    left: 0;
}

#bc {
    margin-top: 200px;
    margin-left: 50px;
}

.single_portfolio {
    margin: 0;
    margin-bottom: 10px;
}

.all {
    margin: 30px 0;
}

@media(max-width: 750px) {
    #bc {
        margin-top: 0px;
        margin-left: 50px;
    } 
}

p b #bold {
    color: #2c6ee6;
}