/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);

    color: white;
}

nav {
    position: fixed;
    background-color: rgba(0,0,0,0.5);

    height: 50px;
    width: 100vw;

    z-index: 1000000;
}

@media(max-width: 535px) {
    nav {
        width: 100vw;
    }
}

.social {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 30px;
    color: white;
}

.social a:visited {
    cursor: pointer;
    color: white;
}

.introduction {
    position: relative;
    width: 100%;
    height: 100vh;
}

.overlay-dark {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;

    height: 100vh;
    width: 100%;
    
    background-color: rgba(0, 0, 0, 0.5);
}

.name {
    position: absolute;
    top: 120px;
    right: 5%;
    z-index: 90000;

    font-size: 68px;

    max-width: 525px;
}

.interests {
    position: absolute;
    bottom: 100px;
    left: 5%;
    z-index: 90000;

    font-size: 36px;
    line-height: 60px;

    max-width: 500px;
}

@media(max-width: 535px) {
    .name {
        font-size: 46px;
        top: 150px;
    }

    .interests {
        font-size: 24px;
        bottom: 75px;
    }
}

.introduction img {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1000000;
}

section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 56px;
    margin: 70px 0;
}

.subtitle {
    font-size: 48px;
    margin: 20px 0;
    margin-left: 40px;
}

@media (max-width: 535px) {
    .title {
        font-size: 38px;
    }

    .subtitle {
        font-size: 26px;
    }
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    box-sizing: border-box;

    width: 47%;
    margin-bottom: 45px;
    padding: 20px;

    position: relative;
}

.project h2 {
    font-size: 42px;
    margin-bottom: 15px;
}
.project h3 {
    font-size: 26px;
    margin-bottom: 5px;
}

.project img {
    height: 320px;
    width: 100%;
    z-index: -100;
}

.project span {
    position: absolute;
    z-index: 1000;

    width: 200px;

    top: 108px;
    right: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(50%);

    font-size: 18px;
    text-align: center;
    color: white;

    background-color: rgba(0, 0, 0, 0.75);
    padding: 7px 15px;

    cursor: pointer;
}

.stack {
    height: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    transition: height .5s;
    margin-top: 20px;
}

.stack li {
    opacity: 0;
    margin: 0 15px;

    transition: opacity .5s;
}

.stack.display {
    height: 100px;
}

.stack.display li {
    opacity: 1;
}

.btns {
    display: flex;

    letter-spacing: 3px;
    font-size: 18px;

    justify-content: space-around;
    padding: 15px;
}

.btns a {
    background-color: #1352b1;
    color: white;
    padding: 8px 40px;

    text-decoration: none;
}

.hvr-shutter-out-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-shutter-out-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2098D1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
    color: white;
  }
  .hvr-shutter-out-vertical:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

@media(max-width: 535px) {
    .columns {
        flex-direction: column;
    }
    
    .project {
        width: 100%;
    }

    #stack-btn {
        display: none;
    }

    .btns {
        flex-direction: column;
    }

    .btns a {
        text-align: center;
        margin: 15px 0;
    }
}

.overlay {
    box-sizing: border-box;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.85);

    color: white;
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 30px;
  }

.overlay:hover {
    opacity: 1;
}

.skills-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.skill {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    font-size: 40px;
    letter-spacing: 3px;
    margin: 30px 25px;
    background-color: #000000;
    background-image: linear-gradient(147deg, #434343 0%, #000000 74%);
    padding: 10px;

    box-shadow: 0 0 13px 6px rgba(255, 255, 255, 0.75);
}

.skill img {
    height: 250px;
    width:250px;
}

@media(max-width: 525px) {
    .skill {
        font-size: 26px;
    }

    .skill img {
        height: 125px;
        width: 125px;
    }
}

.banner {
    width: 100;
    margin: 60px 0;

    position: relative;
}

.banner img {
    width: 100%;
    height: 300px;
}

.banner-text {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 0;

    width: 100%;

    font-size: 48px;
    text-align: center;
}

@media(max-width: 535px) {
    .banner-text {
        font-size: 28px;
    }
}

.overlay-shade {
    width: 100%;
    height:100%;

    background-color: rgba(0, 0, 0, 0.5);
}

#review-section {
    box-sizing: border-box;

    width: 100%;
    max-width: 100%;

    padding: 50px;
    margin-top: 150px;

    background-color: rgba(0, 0, 0, 0.5)
}

.reviews {
	display: flex;
	justify-content: space-around;
	align-items: center;
    flex-wrap: wrap;
}

.review-card {
	box-sizing: border-box;

	max-width: 350px;
	width: 100%;

	padding: 35px;
	margin: 50px 0;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	line-height: 30px;
	font-size: 18px;

    /* box-shadow: 0 0 13px 6px rgba(255, 255, 255, 0.75);
     */
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619fbb 95%);
}

.review-card p:last-of-type {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
}

@media(max-width: 535px) {
    #review-section {
        padding: 10px;
    }

    .reivews {
        width: 100%;
    }

    .review-card {
        max-width: 90%;
        font-size: 16px;

        line-height: 25px;
    }

    .review-card p {
        margin: 10px 0;
    }

    .review-card p:last-of-type {
        font-size: 18px;
    }
}

#mail {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.cus-btn {
    box-sizing: border-box;

    max-width: 350px;

    margin: 0 auto;
    padding: 15px 25px;

    background-color: transparent;

    font-size: 24px;
    color: white;

    border: none;
}


.container-block {
    color: #fff;
    display: inline-block;
    margin: 2rem auto;
    width: 100%;
    max-width: 350px;
    position: relative;
    cursor: pointer;
  }
  .container-block::before {
    bottom: 0;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .container-block:hover .inner-block:before,
  .container-block:hover .slider-top-right:after {
    height: 100%;
  }
  .container-block:hover .inner-block:after,
  .container-block:hover .slider-top-right:before {
    width: 100%;
  }
  .container-block button {
    display: block;
    max-width: 100%;
  }
  
  .block-content {
    position: absolute;
    bottom: 10%;
    left: 10%;
    padding: 0;
  }
  
  .slider-top-right:before,
  .inner-block:after {
    height: 4px;
    transition: width .75s ease;
    width: 0%;
  }
  
  .slider-top-right:after,
  .inner-block:before {
    height: 0%;
    transition: height .75s ease;
    width: 4px;
  }
  
  .inner-block:before,
  .inner-block:after,
  .slider-top-right:before,
  .slider-top-right:after {
    background-color: #fff;
    content: '';
    display: block;
    position: absolute;
  }
  
  .inner-block {
    font-size: 2em;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .inner-block:before {
    bottom: 0;
    left: 0;
  }
  .inner-block:after {
    bottom: 0;
    right: 0;
  }
  
  .slider-top-right {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .slider-top-right:before {
    top: 0;
    left: 0;
  }
  .slider-top-right:after {
    top: 0;
    right: 0;
  }
  